.App {
  text-align: center;
  
}


.flex_container {

  display: flex;
  

}



.filter {

  flex: 1;
  border: 1px black solid
  

}

.graph {
  flex: 3;
  border: 1px black solid
}

.clear_filter {
  text-align: center
}