.App {
  text-align: center;
}



.flex_container {

  display: flex;

}



.filter {

  flex: 1;
  margin: 10px 10px 10px 10px;
  position: relative;
}

.graph {
  flex: 5;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.clear_filter {
  text-align: center
}

.tags {
  
  margin-top: 20px;

}