.App {
  text-align: center;
}



.flex_container {

  display: flex;

}



.filter {

  flex: 1;
  margin: 10px 10px 10px 10px;
  border: 1px black solid;
}

.graph {
  flex: 3;
  margin: 10px 10px 10px 10px;
}

.clear_filter {
  text-align: center
}